<div class="widget">
  <div class="widget-header">
    采集单
    <button type="button" class="close" ng-click="close()"><i class="fa fa-times"></i></button>
  </div>
  <div class="widget-body">
    <div class="panel panel-primary col-sm-6">
      <div class="panel-heading">检测项目</div>
      <table class="table">
        <tr><td>名称</td><td>{{task.project.name}}</td></tr>
        <tr><td>流水号</td><td>{{task.serialNumber}}</td></tr>
        <tr><td>价格</td><td>{{task.project.price/100 | currency: '￥'}}</td></tr>
        <tr><td>应收费用</td><td>{{task.cost/100 | currency: '￥'}}</td></tr>
        <tr><td>当前状态</td><td>{{task.status| statusText}}</td></tr>
      </table>
    </div>
    <div class="panel panel-info col-sm-6">
      <div class="panel-heading">患者信息</div>
      <table class="table">
        <tr><td>姓名</td><td>{{task.ssc.name}}</td></tr>
        <tr><td>医保卡</td><td>{{task.ssc.cardNo}}</td></tr>
      </table>
    </div>
    <div class="panel panel-success col-sm-6">
      <div class="panel-heading">主治医生</div>
      <table class="table">
        <tr><td>姓名</td><td>{{task.doctor.name}}</td></tr>
        <tr><td>联系电话</td><td>{{task.doctor.phone}}</td></tr>
        <tr><td>开单时间</td><td>{{task.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td></tr>
      </table>
    </div>
    <div class="clearfix"></div>
  </div>
</div>  